<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pentabarf.cryptoracletest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:label="CryptOracleTest"
        android:theme="@android:style/Theme.Holo.Light" android:allowBackup="true">
        <activity
            android:name="de.pentabarf.cryptoracletest.MainActivity"
            android:label="CryptOracleTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>